
/*Large*/

@media(max-width: 992px){
	section{

	}
	.container{
		width: 960px;
		margin: 0 auto;
	}
	.header-registration-list{
		left: -60px;
	}
	.header-info-title{
		font-size: 50px;
	}
	.header-info-subtitle{
		font-size: 18px;
	}
	.whyBest-section-img{
		width: 960px;
	}
	.whyBest-section-img-btn{
		top: 300px;
		right: 450px;
	}
	.elements-section > .container{
		display: flex;
		align-items: center;
	}
	.elements-section-photo{
		width: 400px
	}
	.elements-section-img{
		width: 100%;
	}
	.elements-section-info-title{
		font-size: 45px;
	}
	.elements-section-info-subtext{
		font-size: 16px;
		width: 400px;
	}
	.users-section-title{
		font-size: 45px;
		width: 450px;
		padding-left: 20px;
	}
	.users-section-subtext{
		font-size: 16px;
		width: 400px;
		padding-left: 20px;
	}
	.save_tons-section > .container{
		display: flex;
		justify-content: flex-start;
	}
	.save_tons-texts{
		margin-left: 70px;
	}
	.save_tons-title{
		font-style: 50PX;
	}
	.save_tons-subtitle{
		font-size: 50PX;
	}	
}

/*Medium*/

@media(max-width: 768px){
	.container{
		width: 720px;
		margin: 0 auto;
	}
	.nav-logo{
		font-size: 18px;
	}
	.nav-item-link{
		font-size: 14px;
	}
	.header-info{
		width: 300px;
		padding-left: 20px;
	}
	.header-info-title{
		font-size: 40px;
	}
	.header-info-subtitle{
		font-size: 16px;
	}
	.header-registration-list{
		top: -180px;
		left: -140px;
		width: 300px;
	}
	.whyBest-section-title{
		font-size: 40px;
	}
	.whyBest-section-img{
		width: 720px;
	}
	.whyBest-section-img-btn{
		top: 230px;
		left: 320px;
		width: 40px;
		height: 40px;
	}
	.whyBest-section-img-btn-icon{
		width: 8px;
		height: 8px;
	}
	.whyBest-section-list{
		justify-content: space-around;
	}
	.whyBest-section-item{
		width: 45%;
	}
	.elements-section > .container{
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.elements-section-photo{
		width: 600px;
	}
	.elements-section-info{
		width: 720px;
		text-align: center;
	}
	.elements-section-info-title{
		width: 650px;
		margin: 0 auto;
		margin-top: 45px;
	}
	.elements-section-info-subtext{
		width: 500px;
		margin: 0 auto;

	}
	.elements-section-info-link{
		margin-bottom: 35px;
		padding: 10px 20px;
	}
	.users-section > .container{
		display: flex;
		flex-direction: column-reverse;
		padding-bottom: 30px;
		border-bottom: 1px solid white;
	}
	.questions-section > .container{
		padding-top: 30px;
	}
	.save_tons-title{
		font-size: 40px;
	}
	.save_tons-subtitle{
		font-size: 35px;
	}
	.footer-item-link{
		font-size: 13px;
	}
	.footer-subtext{
		font-size: 10px;
	}
}

/*Small*/

@media(max-width: 576px){
	.container{
		width: 540px;
		margin: 0 auto;
	}
	.header > .container{
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.header-registration{
		width: auto;
	}
	.header-registration-img{
		display: none;
	}
	.header-info{
		padding: 0;
		margin: 0;
		width: 500px;
		text-align: center;
	}
	.header-info-title{
		font-size: 20px;
		width: 440px;
		margin: 0 auto;
		text-align: center;
	}
	.header-info-subtitle{
		font-size: 12px;
		margin: 0 auto;
		text-align: center;
		width: 440px;
	}
	.header-registration-list{
		width: 300px;
		position: static;
		margin: 20px auto;
	}
	.header-registration-list-int{
		margin: 10;
		padding: 5px 10px;
	}
	.whyBest-section-title{
		font-size: 25px;
		width: 530px;
		margin: 0 auto;
	}
	.whyBest-section-subtitle{
		font-size: 18px;
	}
	.whyBest-section-img{
		width: 100%;
	}
	.whyBest-section-img-btn{
		top: 180px;
		left: 250px;
	}
	.elements-section-photo{
		width: 100%;
	}
	.elements-section-img{
		width: 100%;
	}
	.elements-section-info{
		width: 100%;
	}
	.elements-section-info-title{
		font-size: 28px;
		width: 100%;
	}
	.elements-section-info-subtext{
		font-size: 12px;
		width: 100%;
	}
	.evrything-section-title{
		font-size: 26px;
	}
	.evrything-section-subttitle{
		font-size: 12px;
		width: 530px;
		margin: 0 auto;
	}
	.users-section-info{
		text-align: center;
	}
	.questions-section-item{
		width: 80%;
		margin: 20px auto;
	}
	.save_tons-title{
		font-size: 30px;
	}
	.save_tons-subtitle{
		font-size: 30px;
	}
	.save_tons-section-background-image{
		display: none;
	}
	.save_tons-section-btn{
		right: 30px;
		padding: 5px 10px;
	}
	.footer-item{
		padding: 0;
		margin: 0 5px;
	}
	.footer-item-link{
		font-size: 10px;
		margin: 0 ;
	}
}

/*Extra Small*/

@media(max-width: 500px){
	section{
		margin: 0 auto;
	}
	.container{
		width: 100%;
		margin: 0 auto;
	}
	.nav-item{
		margin: 0 3px;
	}
	.header-info-title{
		font-size: 14px;
		width: 90%;
		padding: 0;
		margin-bottom: 15px;
	}
	.header-info-subtitle{
		font-size: 8px;
		width: 85%;
	}
	.header-registration{
		width: 100%;
	}
	.whyBest-section-title{
		margin: 0 auto;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.whyBest-section-subtitle{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.whyBest-section-img{
		width: 480px;
	}
	.whyBest-section-main{
		width: 100%;
	}
	.whyBest-section-img{
		width: 100%;
	}
	.whyBest-section-img-btn{
		top: 8.5%;
		left: 46%;
	}
	.whyBest-section-item{
		width: 70%;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.save_tons-title{
		width: 300px;
		font-size: 30px;
		margin: 0 auto;
		text-align: center;
	}
	.save_tons-subtitle{
		width: 350px;
		font-size: 30px;
		margin: 0 auto;
		text-align: center;
	}
	.save_tons-section-btn{
		bottom: 30px;
		right: 180px;
	}
	.save_tons-section-background-image{
		display: block;
		width: 300px;
	}
	.footer > .container{
		display: flex;
		flex-wrap: wrap;
	}
	.footer-logo{
		margin-right: 10px;
	}
	.footer-subtext{
		margin: 5px auto;
	}
	.users-section-photo-img{
		width: 100%;
	}
	.evrything-section-subttitle{
		width: 90%;
	}
	.evrything-section-title{
		width: 90%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 20px;
	}
	.evrything-section-secondImg{
		object-fit: cover;
	}
	.questions-section-title{
		font-size: 45px;
	}
	.save_tons-section > .container{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	.save_tons-section-background-image{
		top: -90px;
		left: 390px;
	}
	.save_tons-texts{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.save_tons-title{
		text-align: center;
		margin: 0 auto;
	}
	.save_tons-subtitle{
		text-align: center;
		margin:  0 auto;
	}
	.save_tons-section-btn{
		margin: 0 auto;
		position: static;
		display: block;
	}
	.footer-subtext{
		margin-top: 30px;
	}
}

/*Extra-Extra-Extar Small*/

@media(max-width: 400px){
	.container{
		width: 390px;
		margin: 0 auto;
	}
	.nav-logo{
		font-size: 10px;
	}
	.nav-item-link{
		font-size: 8px;
	}
	.nav-btn{
		font-size: 8px;
	}

	.header-info{
		width: 100%;
	}
	.header-info-title{
		width: 340px;
		font-size: 12px;
		margin: 0;
		padding: 0;
	}
	.header-info-subtitle{
		width: 340px;
		font-size: 8px;
		margin: 0;
		padding: 0;
	}
	.whyBest-section-title{
		width: 340px;
		margin: 0 auto;
		text-align: center;
	}
	.whyBest-section-subtitle{
		width: 340px;
		margin: 0 auto;
		text-align: center;
	}
	.users-section-title{
		font-size: 20px;
		width: 100%;
	}
	.users-section-subtext{
		font-size: 10px;
		width: 100%;
	}

}