
/*Large*/

@media(max-width: 992px){
	.container{
		width: 960px;
	}
	.header-registration-list{
		left: -60px;
	}
	.header-info-title{
		font-size: 50px;
	}
	.header-info-subtitle{
		font-size: 18px;
	}
	.whyBest-section-img{
		width: 960px;
	}
	.whyBest-section-img-btn{
		top: 300px;
		right: 450px;
	}
	.elements-section > .container{
		display: flex;
		align-items: center;
	}
	.elements-section-photo{
		width: 400px
	}
	.elements-section-img{
		width: 100%;
	}
	.elements-section-info-title{
		font-size: 45px;
	}
	.elements-section-info-subtext{
		font-size: 16px;
		width: 400px;
	}
	.users-section-title{
		font-size: 45px;
		width: 450px;
		padding-left: 20px;
	}
	.users-section-subtext{
		font-size: 16px;
		width: 400px;
		padding-left: 20px;
	}
	.save_tons-section > .container{
		display: flex;
		justify-content: flex-start;
	}
	.save_tons-texts{
		margin-left: 70px;
	}
	.save_tons-title{
		font-style: 50PX;
	}
	.save_tons-subtitle{
		font-size: 50PX;
	}	
}

/*Medium*/

@media(max-width: 768px){
	.container{
		width: 720px;
	}
	.nav-logo{
		font-size: 18px;
	}
	.nav-item-link{
		font-size: 14px;
	}
	.header-info{
		width: 300px;
		padding-left: 20px;
	}
	.header-info-title{
		font-size: 40px;
	}
	.header-info-subtitle{
		font-size: 16px;
	}
	.header-registration-list{
		top: -180px;
		left: -140px;
		width: 300px;
	}
	.whyBest-section-title{
		font-size: 40px;
	}
	.whyBest-section-img{
		width: 720px;
	}
	.whyBest-section-img-btn{
		top: 230px;
		left: 320px;
		width: 40px;
		height: 40px;
	}
	.whyBest-section-img-btn-icon{
		width: 8px;
		height: 8px;
	}
	.whyBest-section-list{
		justify-content: space-around;
	}
	.whyBest-section-item{
		width: 45%;
	}
	.elements-section > .container{
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
	.elements-section-photo{
		width: 600px;
	}
	.elements-section-info{
		width: 720px;
		text-align: center;
	}
	.elements-section-info-title{
		width: 650px;
		margin: 0 auto;
		margin-top: 45px;
	}
	.elements-section-info-subtext{
		width: 500px;
		margin: 0 auto;

	}
	.elements-section-info-link{
		margin-bottom: 35px;
		padding: 10px 20px;
	}
	.users-section > .container{
		display: flex;
		flex-direction: column-reverse;
		padding-bottom: 30px;
		border-bottom: 1px solid white;
	}
	.questions-section > .container{
		padding-top: 30px;
	}
	.save_tons-title{
		font-size: 40px;
	}
	.save_tons-subtitle{
		font-size: 35px;
	}
	.footer-item-link{
		font-size: 13px;
	}
	.footer-subtext{
		font-size: 10px;
	}
}

/*Small*/

@media(max-width: 576px){
	.container{
		width: 540px;
	}
	.header-registration-img{
		display: none;
	}
	.header-info-title{
		font-size: 20px;
		width: 260px;
		margin-bottom: 10px;
	}
	.header-info-subtitle{
		font-size: 12px;
		width: 220px;
	}
	.whyBest-section-list{
		width: 150px;
	}
}